@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Condensed:ital,wght@0,300;0,700;1,300;1,400;1,700&family=Tilt+Prism&display=swap');
    *{
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
    }
    .main{
        background-color: silver;
    }
    .search{
        border: 1px solid rgb(9, 9, 18);
        background-color: rgb(9, 9, 18);
        height: 60px;
        margin: -60px 0px 0px 0px;
        position: fixed;
    }
    #im{
        width: 130px;
        height: 50px;
        position: absolute;
        background: none;
        padding: 15px 0px 0px 20px;
    }
    #in{
        color: white;
        position: absolute;
        padding: 17px 0px 0px 130px;
        font-family: 'Noto Sans JP', sans-serif;
        font-size: 13px;
        font-weight: bold;
    }
    #llogo{
        color: white;
        position: absolute;
        padding: 20px 0px 0px 160px;
    }
    #loa{
        position: absolute;
        padding: 25px 0px 0px 183px;
        font-family: 'Noto Sans JP', sans-serif;
        font-size: 14px;
        font-weight: bold;
    }
    #he{
        position: absolute;
        padding: 10px 0px 0px 183px;
        font-family: 'Noto Sans JP', sans-serif;
        font-size: 12px;
    }
    #allin{
        position:absolute;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        margin: 6px 0px 0px 350px;
        height: 46px;
    }
    #down1{
        position: absolute;
        padding: 19px 390px;
        color: rgba(0, 0, 0, 0.603);
    }
    #inputtag{
        position: absolute;
        margin: 7px 0px 0px 410px;
        width: 520px;
        height: 45px;
    }
    #serlogo{
        border: 1px solid rgba(249, 214, 17, 0.888);
        background-color: rgba(249, 214, 17, 0.888);
        margin: 7.65px 929px ;
        padding: 12px 0px 0px 12px ;
        color: black;
        position: absolute;
        height: 44px;
        width: 45px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    #ind{
        position: absolute;
        height: 13px;
        width: 17px;
        margin: 27px 1010px;
    }
    #en{
        color: white;
        font-size: 13px;
        position: static;
        margin: 23px 1030px;
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: bold;
    }
    #down2{
        position: absolute;
        margin: -30px 0px 0px 1050px;
        color: rgba(255, 255, 255, 0.652);
    }
    #hs{
        position: static;
        margin: -53px 0px 0px 1085px;
        color: white;
        font-family: 'Noto Sans JP', sans-serif;
        font-size: 12px;
    }
    #al{
        position: static;
        margin: -5px 0px 0px 1085px;
        color: white;
        font-family: 'Noto Sans JP', sans-serif;
        font-size: 14px;
        font-weight: bold;
    }
    #down3{
        position: absolute;
        color:  rgba(255, 255, 255, 0.652);
        margin: -8px 0px 0px 1192px;
    }
    #r{
        position: absolute;
        color: white;
        font-family: 'Noto Sans JP', sans-serif;
        margin: -32px 0px 0px 1225px;
        font-size: 12px;
    }
    #o{
        position : absolute;
        color: white;
        margin: -20px 0px 0px 1225px;
        font-size: 14px;
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: bold;
    }
    #cart{
        position: absolute;
        margin: -25px 0px 0px 1320px;
    }
    #cword{
        position: absolute;
        color: white;
        margin: -20px 0px 0px 1360px;
        font-weight: bold;
        font-family: 'Noto Sans JP', sans-serif;
        font-size: 14px;

    }
    .index{
        border: 1px solid rgb(19, 38, 38);
        background-color: rgb(19, 38, 38);
        background-attachment: scroll;
        height: 40px;
        width: 1417px;
        margin: 60px 0px 0px 0px;
        font-size: 14px;
        position:inherit;
        font-family: 'Noto Sans JP', sans-serif;
    }
    a{
        text-decoration: none;
        color: white;
    }
    #down4{
        position: absolute;
        color: rgba(255, 255, 255, 0.652);
        margin: 21px 0px 0px -3px;
    }
    #ele{
        margin: 0px 0px 0px 15px;
    }
    .nav-items{
        margin: 5px;
    }
    #all{
        font-weight: bold;
        margin: 0px 10px 0px 0px;
    }
    #alllogo{
        color: white;
        padding: 0px 0px 0px 10px;
    }
    #ba{
        position:initial;
        color: white;
        font-size: 22px;
        font-weight: bolder;
        font-family: 'Noto Sans JP', sans-serif;
        padding: 10px 0px 0px 150px;
    }
    #jp{
        color: rgb(15, 91, 243);
        position:initial;
        font-size: 20px;
        font-weight: bolder;
        font-family: 'Noto Sans JP', sans-serif;
        margin: 0px 0px 0px 10px;
    }
    .downside{
        border: 1px solid rgba(239, 239, 239, 0.803);
        background-color: rgba(239, 239, 239, 0.803);
        margin: 0px 0px 0px 10px ;
        height: 2400px;
        width: 1397px;
    }
    #primeimg{
        position: inherit;
        width: 1397px;
        height: 360px;
        margin:-1px 0px 0px -1px;
    }
    #wr{
        position: inherit;
        font-size: 20px;
        color: black;
        padding: 20px 0px 0px 22px;
        font-weight: bold;
        font-family: 'Noto Sans JP', sans-serif;
    }
    #semo{
        position: inherit;
        margin: 15px 0px 0px 22px;
        color: blue;
    }
    #img{
        position: inherit;
        margin: 10px 0px 0px 22px;
        width:300px;
        height:275px;
    }
    #img2{
        position: inherit;
        margin: 20px 0px 0px 22px;
        width: 200px;
        height: 140px;
    }
    #img3{
        position: inherit;
        margin: 10px 0px 0px 22px;
        width:300px;
        height:250px;
    }
    .box1{
        position: inherit;
        border: 1px solid white;
        background-color: white;
        margin: 15px 0px 0px 20px;
        width: 350px;
        height: 400px;
    }
    .box2{
        position: inherit;
        border: 1px solid white;
        background-color: white;
        margin: -400px 0px 0px 390px;
        width: 350px;
        height: 400px;
    }
    .box3{
        position: inherit;
        border: 1px solid white;
        background-color: white;
        margin: -400px 0px 0px 760px ;
        width: 350px;
        height: 400px;
    }
    .box4{
        position: inherit;
        border: 1px solid white;
        background-color: white;
        margin: -410px 0px 0px 1130px ;
        width: 250px;
        height: 150px;
    }
    #but{
        background-color: yellow;
        border-radius: 5px;
        width: 200px;
        height: 30px;
        margin: 20px 0px 0px 22px;
        border-color: yellow;
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: bold;
    }
    .box5{
        position: inherit;
        border: 1px solid white;
        background-color: white;
        margin: 20px 0px 0px 1130px ;
        width: 250px;
        height: 270px;
    }