@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,700;1,300;1,400;1,700&family=Tilt+Prism&display=swap');
*{
    margin: 0px;
    box-sizing: border-box;
}
.side{
    border: 1px solid black;
    padding : 10px 20px 20px 20px;
    width: 220px;
    height: 750px;
    background-color: black;
}
#home{
    font-weight: 300;
    font-size: 17px;
}
#ser,#lab,#cp,#ls{
    font-size: 15px;
}
#home,#ser,#lab,#cp,#ls{
    color: white;
    position: absolute;
    padding: 0px 0px 0px 50px;
    margin: -19px 0px -20px 0px;
    cursor: pointer;
}
#co,#pr{
    color: white;
    font-size: 12px;
    position: absolute;
    margin: 300px 0px 0px 20px;
    cursor: pointer;
}
#co:hover,#pr:hover{
    zoom: 100%;
    font-size: 13px;
}
#home:hover,#ser:hover{
    border-radius: 15px;
    box-shadow: 2px 2px 5px white;
    width: 110px;
    height: 25px;
    zoom:100%;
}
#lab:hover,#cp:hover,#ls:hover{
    border-radius: 15px;
    box-shadow: 2px 2px 5px white;
    width: 150px;
    height: 25px;
    zoom: 100%;
}
#hlog,#slog,#llog,#clog,#klog{
    color: white;
    padding:40px 0px 0px 15px;
}
.rside{
    border: 1px solid black;
    margin: -750px 0px 0px 220px;
    width: 1310px;
    height: 750px;
    background-color: rgba(0, 0, 0, 0.914);
}
#font1{
    padding: 20px 0px 0px 30px;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}
.sp1,.sp2,.sp3,.sp4,.sp5,.sp6{
    border: 1px solid rgba(0, 0, 0, 0.771);
    width: 180px;
    height: 270px;
    background-color: rgba(0, 0, 0, 0.771);
    position: absolute;
    border-radius: 10px;
    color: white;
}
.sp1{
    margin: -670px 0px 0px 250px;
}
.sp2{
    margin: -670px 0px 0px 460px;
}
.sp3{
    margin: -670px 0px 0px 670px;
}
.sp4{
    margin: -670px 0px 0px 880px;
}
.sp5{
    margin: -670px 0px 0px 1090px;
}
.sp6{
    margin: -670px 0px 0px 1300px;
}
.sp1:hover,.sp2:hover,.sp3:hover,.sp4:hover,.sp5:hover,.sp6:hover,.fc1:hover,.fc2:hover,.fc3:hover,.fc4:hover,.fc5:hover,.fc6:hover{
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.285);
    border-radius: 10px;
    width: 185px;
    height: 275px;
    zoom:100%;
}
#spp{
    width: 140px;
    height: 150px;
    margin: 20px 0px 0px 19px;
    border-radius: 10px;
}
#to,#to1{
    position: absolute;
    margin: 10px 0px 0px 19px;
    font-family: 'Roboto Condensed', sans-serif;
}
#to1{
    font-size: 15px;
}
#pg{
    margin: 45px 10px 0px 19px;
    font-size: 13px;
    font-family: 'Roboto Condensed', sans-serif;
}
#font2{
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    padding: 330px 0px 0px 30px;
}
.fc1,.fc2,.fc3,.fc4,.fc5,.fc6{
    border: 1px solid rgba(0, 0, 0, 0.771);
    background-color: rgba(0, 0, 0, 0.771);
    width: 180px;
    height: 270px;
    position: absolute;
    border-radius: 10px;
    color: white;
}
.fc1{
    margin: -300px 0px 0px 250px;
}
.fc2{
    margin: -300px 0px 0px 460px;
}
.fc3{
    margin: -300px 0px 0px 670px;
}
.fc4{
    margin: -300px 0px 0px 880px;
}
.fc5{
    margin: -300px 0px 0px 1090px;
}
.fc6{
    margin: -300px 0px 0px 1300px;
}
#spo{
    margin: 20px 0px 0px 10px;
    width: 100px;
    height: 30px;
}